llama3.2-vision/multi-modal-app/.venv
llama3.2-vision/multi-modal-app/.env
llama3.2-vision/multi-modal-app/.gradio
 llama3.2-vision/multi-modal-app/.python-version

llama3.2-vision/multi-modal-app-with-ollama/.venv
llama3.2-vision/multi-modal-app-with-ollama/.gradio
 llama3.2-vision/multi-modal-app-with-ollama/.python-version

